section
  header
    h1  Neuen Autor registrieren
  form
    fieldset
      legend Autor
      label Herr 
        input(type="radio",name="gender",value="Herr")
      label Frau 
        input(type="radio",name="gender",value="Frau") 
      label Name
        input(type="text",required=true)
      label E-Mail
        input(type="email",required=true)
      label Webseite
        input(type="url",required=true)
      label Geburtsdatum
        input(type="date",required=true)
      label Nationalität
        select(required=true)
          option(value="") -- Wählen --
          option(value="Switzerland") Switzerland
          option(value="Deutschland") Deutschland
          option(value="Frankreich") Frankreich
          option(value="Italien") Italien
          option(value="Österreich") Österreich
      label Profiltext
         textarea(rows="10")
      
      label Profilbilder
        input(type="file")
    fieldset
      legend Rechtliches
      div
        input(type="checkbox",name="question1",value="Ich bestätige, das ich keine Texte veröffentlichen werde, deren Urheber ich nicht bin") 
        label(for="question1") Ich bestätige, das ich keine Texte veröffentlichen werde, deren Urheber ich nicht bin
      div
        input(type="checkbox",name="question2",value="Ich bestätige, das ich keine Medien veröffentlichen werden, deren Urheber ich nicht bin")
        label(for="question2") Ich bestätige, das ich keine Medien veröffentlichen werden, deren Urheber ich nicht bin
      div
        input(type="checkbox",name="question3",value="Ich bestätige, das nur Texte veröffentlichen werde, die nach bestem Treu und glauben der Wahrheit entsprechen und eingereichte Medien Bilder nicht manipuliert wurden") 
        label(for="question3") Ich bestätige, das nur Texte veröffentlichen werde, die nach bestem Treu und glauben der Wahrheit entsprechen und eingereichte Medien Bilder nicht manipuliert wurden
    button(type="submit") Account Anlegen
    button(type="reset") Eingaben zurücksetzen 
    
    
